@page "/course-recommendation"
@using AgentDemos.Agents
@using AgentDemos.WebUI.Components.Pages.Chat
@using Microsoft.SemanticKernel
@using Microsoft.SemanticKernel.Agents

<PageTitle>Course Recommendation</PageTitle>

<h1>Course Recommendation Agent</h1>

<Chat Agent="courseRecommendationAgent" Title="Course Recommendation" />

@code {
    [Inject]
    public Kernel Kernel { get; set; }

    private ChatCompletionAgent courseRecommendationAgent;

    protected override void OnInitialized()
    {
        courseRecommendationAgent = U2UAgentFactory.CreateCourseRecommendationAgent(Kernel.Clone());
    }
}
