@* Sidebar component *@
<div class="sidebar">
  <nav>
    <NavLink href="/course-recommendation" class="sidebar-link" Match="NavLinkMatch.All">Course Recommendation</NavLink>
    <NavLink href="/sql-agent" class="sidebar-link">SQL Agent</NavLink>
    <NavLink href="/data-analysis" class="sidebar-link">Data Analysis</NavLink>
    <NavLink href="/reporting" class="sidebar-link">Reporting</NavLink>
  </nav>
</div>
