@* Sidebar component *@
<div class="sidebar">
  <nav>
    <NavLink href="/sql-workflow" class="sidebar-link" Match="NavLinkMatch.All">SQL Workflow</NavLink>
    <NavLink href="/course-recommendation" class="sidebar-link" Match="NavLinkMatch.All">Course Recommendation Agent</NavLink>
    <NavLink href="/sql-agent" class="sidebar-link">SQL Agent</NavLink>
    <NavLink href="/data-analysis" class="sidebar-link">Data Analysis Agent</NavLink>
    <NavLink href="/reporting" class="sidebar-link">Business Intelligence Agent</NavLink>
  </nav>
</div>
